<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Let's Learn C</h3>
  </div>

  <ul class="list-unstyled components">

    <li routerLinkActive="active current">
      <a routerLink="/"><i class="fa fa-home fa-2x"></i>&nbsp;&nbsp;Home</a>
    </li>
    <li routerLinkActive="active current">
      <a routerLink="lessons"><i class="fa fa-graduation-cap fa-2x"></i>&nbsp;&nbsp;Lessons</a>

    </li>
    <li routerLinkActive="active current">
      <a routerLink="assignments"><i class="fa fa-tasks fa-2x"></i>&nbsp;&nbsp;Assignments</a>

    </li>
    <li routerLinkActive="active current">
      <a routerLink="resources"><i class="fa fa-bars fa-2x"></i>&nbsp;&nbsp;Resources</a>
    </li>
    <li routerLinkActive="active current">
      <a routerLink="discussions"><i class="fa fa-comments fa-2x"></i>&nbsp;&nbsp;Discussions</a>
    </li>
    <!-- <li routerLinkActive = "active current">
            <a routerLink="progress"><i class="fa fa-trophy fa-2x"></i>&nbsp;&nbsp;Progress</a>
        </li> -->
    <li routerLinkActive="active current">
      <a routerLink="calendar"><i class="fa fa-calendar fa-2x"></i>&nbsp;&nbsp;Calendar</a>
    </li>
  </ul>
  <ul class="list-unstyled CTAs">
    <li>
      <a class="download">Log Out</a>
    </li>

  </ul>

</nav>
